<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="list card">
                <div class="item item-divider">Info</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input" name="firstName">
                            <span class="input-label">First</span>
                            <input type="text" placeholder="first" ng-model="firstName">
                        </label>
                        <label class="item item-input" name="lastName">
                            <span class="input-label">Last</span>
                            <input type="text" placeholder="last" ng-model="lastName">
                        </label>
                        <label class="item item-input" name="description">
                            <span class="input-label">Description</span><textarea placeholder="description" ng-model="description"> </textarea>
                        </label>
                    </form>
                </div>
            </div>
        </form>
        <button class="button button-block button-positive" ng-click="saveInfo(firstName, lastName, description)">
             Save
        </button>
    </ion-content>
    <div class="bar bar-footer bar-assertive" ng-click="signOut()">
        <div class="title">Sign Out</div>
    </div>
</ion-view>